body {
  color: #000000;
  font-family: 'Lucida Sans Unicode';
  font-size: 20px;
}
#header {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
h1 {
  flex-grow: 1;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}
#audrey {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
}
.dialog {
  border: 5px ridge black;
  border-radius: 10px;
  padding: 10px;
  height: 100px;
  width: 500px;
  font-size: 20px;
  box-shadow: 10px 10px 5px #888888;
  overflow: auto;
}
#audrey-dialog {
  font-family: cursive;
  font-size: 30px;
  background-color: #FF99CC;
  border-color: #CC3399;
}
#audrey-avatar {
  border: 7px ridge #CC3399;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  height: 245px;
}
#you-dialog {
  background-color: #D0D0D0;
}
#you-avatar {
  border: 7px ridge black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  height: 245px;
}
#you {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
#you-img {
  height: 100%;
  width: auto;
}
.prompt_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prompt_box input {
  font-size: 20px;
}
#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login_form input {
  margin: 10px;
}
#register_box {
  background-image: url('../img/stationery.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 790px;
  min-width: 700px;
  font-family: cursive;
  font-size: 35px;
}
#register_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#register_form #send_button {
  align-self: center;
}
.letter_buffer {
  min-height: 250px;
}
#error_message {
  color: #ff0000;
}
